.job {
    width: 40% !important;
    background-color: #10acb5 !important;
    margin-right: 30% !important;
    text-align: right !important;
    padding: 2%

}

@media screen and (max-width: 600px) {
    .job {
        width: 80% !important;
        margin-right: 10% !important;

    }
}