
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input[type="text"] {min-width: 250px;}
/* buttons  */
.button {
    background-color: #10acb5 !important;
    color: white !important;
    border-color: black !important;
    min-width: 75px !important;
    width: 75px;
}
.input:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #10acb5;
    border-color: #10acb5;}
.button:enabled:hover{
    background-color: #000;
    border-color: black;
    box-shadow: 0 0 0 0.2rem #10acb5;

}
.checkboxtrue{
    color: #10acb5 !important;
}
/* buttons hover */
button:hover not.menu{
    transform: translatey(3px);
    box-shadow: none;
    background-color:#000;
}

/* buttons hover Animation */
button:hover not.menu {
    animation: ani9 0.4s ease-in-out infinite alternate;
}

@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(5px);
    }
}
