body {
  direction: rtl;
  text-align: right;
}

/* .carousel-content.show-2>* {
  width: 50%;
}

.carousel-content.show-3>* {
  width: calc(100% / 3);
}

.carousel-content.show-4>* {
  width: calc(100% / 4);
} */

.menu  {
  background-color: black;
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 30px;

}

.menu a {
  padding: 10px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.menuIcon {
  display: none !important;
}

.menu  a:hover,
.menu a.active {
  transition: all 0.3s;
  background-color: #fff;
  color: black
}

@media screen and (max-width: 600px) {
    .menuIcon {
      display: block !important;
    }

    .menu {
      gap: 100px;
    }

    .menu a {
      display: none;

    }

    .menu.open a {
      display: block;

    }

    .menu.open {
      display: block;
      background-color: black;
      text-align: center;
      padding: 5px;

    }

    .menu.open a {
      padding: 10px;
      color: #fff;
      font-size: 16px;
      text-decoration: none;
    }


    .menu.open a:hover,
    .menu.open a.active {
      transition: all 0.3s;
      background-color: #fff;
      color: black
    }

    .menu.open .logo {
      position: absolute;
      left: 0px;
      top: 5px;
    }

    .menu.open .iconButton {
      position: absolute;
      top: 5px;
      right: 2px;
    }

    .icon {
      display: block;
    }
    .carusel_img {
      height: 90px !important;
      padding: 20px !important;
    }
}